.contactList {
  min-width: 240px;
  font-size: calc(12px + 0.5vmin);

  @media screen and( min-width:480px) {
    width: 320px;
  }
  @media screen and( min-width:768px) {
    width: 620px;
    font-size: calc(14px + 0.5vmin);
    padding-left: 20px;
    border-left: 2px solid darkgray;
  }
}

td {
  // border: 1px solid blue;
  text-align: left;
  // table-layout: fixed;
}
.contactBtn {
  text-align: right;

  & .btn {
    // padding: 2px 10px;
    font-size: calc(14px + 1vmin);
    border: none;
    background: white;
    cursor: pointer;

    // @media screen and(min-width: 768px) {
    //   padding-left: 50px;
    // }
  }
}
